*{
	margin: 0px;
}

*:focus  {  outline: none;  }

body {
    min-width: 1100px;
	background:url(../images/bg.jpg) no-repeat; background-position:top center;
    background-color: #470602;
    padding: 0px;
    border: 0px;
    margin: 0px;
}



.menu-top {
	background-color: none;
	padding:0 0 0 0px;
	margin:0px auto;
	list-style:none;
	height:35px;
	width:1200px;
	float: right;
}

.menu-top li {
	float: right;
	padding: 0px;
}

.menu-top li a {
	display:block;
	float:left;
	height:35px;
	line-height:33px;
	color:#BCBDBD;
	text-decoration:none;
	font-family:arial, verdana, sans-serif;
	text-align:center;
	padding:0 0 0 14px;
	cursor:pointer;
	font-size:12px;
	background:none;
}

#false-body{background-image: url(../images/false-body-bg.png);
	background-repeat: repeat;	
	height: auto;
	background-color: none;
	margin: 0px 30px;
	padding: 0px;
	border: 0px;	
}

#help{
    background-image: url(../images/help-bg.png);
	background-repeat: repeat;
	height: auto;
	margin: 0px 30px 15px 30px;
	padding: 6px;
	/*border-right: 2px solid #ddd;
	border-left: 3px solid #888;
	border-top: 2px solid #fff;
	border-bottom: 4px solid #666;*/
    clear: both;	
}

#help p{
    color: white;
}

#header{
	height: 180px;
	background-color: none;
	margin: 0px 10px;
	padding: 10px 0 0 20px;
	border: 0px;	
}

#logo{
    background-image: url(nada);
	background-repeat: repeat;	
	height: 170px;
	background-color: none;
	margin: 0px;
	padding: 0px;
	border: 0px;	
	margin: 0px 20px;
	text-align: center; 
}

#session{
	height: 40px;
	background-color: none;
	margin: 5px 0px 12px 0px;
	padding: 0px;
	border: 0px;	
}

#session-left{background-image: url(../images/session-bg-left.png);
	background-repeat: repeat-x;	
	float: left;
	width: 14px;
	height: 40px;
	background-color: none;
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

#session-center1{background-image: url(../images/session-bg.png);
	background-repeat: repeat-x;
	height: 40px;
	background-color: none;
	margin: 0px 204px 0px 14px;
	padding: 0px;
	border: 0px;	
}

#session-center2{background-image: url(../images/session-bg.png);
	background-repeat: repeat-x;	
	float: right;
	width: 200px;
	height: 40px;
	background-color: none;
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

#session-right{background-image: url(../images/session-bg-right.png);
	background-repeat: repeat-x;
	float: right;	
	width: 14px;
	height: 40px;
	background-color: none;
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

.session1, .session2, .session2-of {
    font-weight: bold;
    line-height:38px;
	color:#fff;
	text-decoration:none;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

.session1{
	float: left;
}

.session2{
	float: right;
}

.session2 a, .session2-of a{
	text-decoration:none;
	font-family: arial, verdana, sans-serif;
	float: right;	
	font-size: 14px;
	margin: 0px;
	margin-left: 20px;
	padding: 0px;
	border: 0px;	
}

.session2 a {
	color:#aaf;	
}

.session2 a:hover {
	color:#fff;	
}

.session2-of a {
	color:#aaa;	
	cursor:default;
}

#titles, #titles-left-a, #titles-left-b, #titles-left-c, #titles-center-a, #titles-center-b, #titles-center-c, #titles-right-a, #titles-right-b, #titles-right-c{
	height: 40px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#titles{
	margin: 0px;
}


  #titles-left-a{
	background:url(../images/t1.png) no-repeat;
    width: 14px;
	background-color: none;
	float: left;
  }

  #titles-left-b{
	background:url(../images/t2.png) repeat-x;
    width: 152px;
	background-color: none;
	float: left;
  }

  #titles-left-c{
	background:url(../images/t3.png) no-repeat;
    width: 14px;
	background-color: none;
	float: left;
  }


  #titles-center-a{
	background:url(../images/t4.png) no-repeat;
    width: 14px;
	background-color: none;
	float: left;
  }

  #titles-center-b{
	background:url(../images/t5.png) repeat-x;
	margin: 0 264px 0 184px ;
	background-color: none;
  }

  #titles-center-c{
	background:url(../images/t6.png) no-repeat;
    width: 14px;
	background-color: none;
	float: right;
  }

  
  #titles-right-a{
	background:url(../images/t7.png) no-repeat;
    width: 14px;
	background-color: none;
	float: right;
  }

  #titles-right-b{
	background:url(../images/t8.png) repeat-x;
    width: 232px;
	background-color: none;
	float: right;
  }

  #titles-right-c{
	background:url(../images/t9.png) no-repeat;
    width: 14px;
	background-color: none;
	float: right;
  }

.titles1, .titles2, .titles3{
    font-weight: bold;
    line-height:38px;
	text-decoration:none;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: 0px;	
	float: left;
}

.titles1{
    text-indent: 44px;
	color:#3f3;
}

.titles3{
    text-indent: 20px;
	color:#800;
}

.titles2{
	color:#743;
}

#real-body{
	background-color: none;
	clear: both;
	height: auto;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

#body-left{
	background-color: none;	
	float: left;
	height: auto;
	width: 180px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	padding-bottom: 30000px;
    margin-bottom: -30000px; 
}
	
#body-center, #body-center-bg1 {
	height: auto;
	padding: 0px;
	border: 0px;
	padding-bottom: 30000px;
    margin-bottom: -30000px; 
}

#body-center{
	margin-left: 180px;
	margin-right: 260px;
	background-image: url(nada);
	background-repeat: repeat;
	background-color: none;	
}

#body-center-bg1 {
	background-image: url(../images/black-bg.png);
	border-right: 4px solid #611;
	border-left: 4px solid #611;
	background-repeat: repeat;
	background-color: none;	
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

	
#body-center-bg1 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 40px;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #fff;
	text-align: justify;
}

#body-center-bg1 p {
    font-family: Georgia, Serif;
    line-height:24px;
	text-decoration:none;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: 0px;	
	color: #fff;
	text-align: justify;
}


#body-right{
	/*background-image: url(../images/grey-bg.png);*/
	background-repeat: repeat;
	float: right;
	height: auto;
	width: 260px;
	margin: none;
	padding: none;
	border: none;
	padding-bottom: 30000px;
    margin-bottom: -30000px; 
}

#menu-left-boot{
	background: url(../images/left-boot-bg.png) no-repeat;
    margin: 0px;
    padding: 0px;
    height: 42px;
	width: 180px;
	clear: left;
}

#menu-left{
	background-image: url(../images/green-bg.png);
	background-repeat: repeat;
	background-color: none;	
	float: left;
	height: auto;
	width: 180px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	border: 0px;
}

.menu-left {
	background-color: none;
	padding:0 0 0 0px;
	margin:0 10px 0 10px;
	list-style:none;
	height:auto;
	width:160px;
	float: right;
}

.menu-left li {
	background-color: none;
	float: right;
	padding: 0px;
	margin: 5px 0;
}

.menu-left li a {
	background: url(../images/menu-left-a.png) no-repeat;
	display:block;
	float:left;
	height:36px;
	width:160px;	
	text-indent: 50px;
	line-height:33px;
	color:#BCBDBD;
	text-decoration:none;
	font-family:arial, verdana, sans-serif;
	text-align: left;
	cursor:pointer;
	font-size:14px;
	float:left;
	display:block;
}
		
.menu-left li a:hover {
	color:#fff;
    background: url(../images/menu-left-h.png) no-repeat;
}

.menu-left li a:active {
	color:#f00;
	background:url(../images/menu-left-c.png) no-repeat;
}

.menu-left li.current-left a {
	background:url(../images/menu-left-c.png) no-repeat;
	font-size:14px;
	color:#EF7F1A;
}

.menu-left li.current-left  a:hover {
	background:url(../images/menu-left-c.png) no-repeat;
	cursor:default;
	color:#EF7F1A;
}

.menu-left li.current-left  a:active {
	color:#EF7F1A;
	background:url(../images/menu-left-c.png) no-repeat;
}

#body-foot{
	background-color: #224;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: 30px;
	margin-right: 30px;
	clear: both;
}


#table1{
    width: 700px;
	height: auto;
	background-color: none;
	margin: 10px auto 0px auto;
	padding: 10px;
	padding-left: 130px; 
	border: 0px;
	color: white;
    font-weight: bold;
}

.table1{
	margin-bottom: 15px;
}







































