#tablero {
    background-image: url(../images/bg_tableDELETE.png);	
	width: 650px;
	height: auto;
	background-color: green;
	margin: 20px auto 0px auto;
	padding: 10px;
	border: solid 2px black;	
}

.rojo a, .negro a, .fila a, .columna a, .zero a{
	width: 150px;
}	

.rojo a, .negro a, .fila a, .columna a, .zero a, .paridad a{
	height: 100px;
	float: left;
	margin: 4px 0px 0px 4px;
	padding: 0px;	
	text-align: center;
    font-weight: bold;
	display: block;
	text-decoration: none;
	font-family:arial, verdana, sans-serif;
    background-image: none;	
}

.rojo a, .negro a, .fila a, .zero a, .paridad a{
	font-size: 80px;
}

.rojo a .stitle, .negro a .stitle, .fila a .stitle, .columna a .stitle, .zero a .stitle, .paridad a .stitle{
	font-size: 18px;
	margin-left:8px;
}

.filas_frame{
	width: 162px;
	height: auto;
	float:left;
	background-color: blue;
	margin: 0px;	
	overflow: hidden;
}

.plenos_frame{
	width: 486px;
	height: auto;
	float:left;
	background-color: grey;
	margin: 0px;	
	overflow: hidden;
}

.rojo a:hover, .negro a:hover, .fila a:hover, .columna a:hover, .zero a:hover, .paridad a:hover{	
	color: white;
	border: solid 4px white;
}

.zero a{
	border: solid 4px #085;	
	color: #040;
}

.paridad a{
	border: solid 4px black;	
	color: black;
	width: 300px;
}

.columna a{
	border: solid 4px black;	
	color: black;
	font-size: 60px;
}


.fila a{
	border: solid 4px #800;
	color: black;
}

.negro a{
	border: solid 4px #000;
	color: black;	
}

.rojo a{
	border: solid 4px red;
	color: red;
}

.nap,.ap{
	width: 34px;
	height: 34px;
	color: #0f0;
	margin: auto;
	line-height: 32px;
	text-align: center;
	font-size:12px;
}

.ap{
    background-image: url(../images/chip.png);
}

.nap{
	color: grey;
}



